@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PublicSans";
  src: url("/assets/fonts/public-sans/PublicSans-Light.woff2") format("woff2"),
    url("/assets/fonts/public-sans/PublicSans-Light.woff") format("woff"),
    url("/assets/fonts/public-sans/PublicSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PublicSans";
  src: url("assets/fonts/public-sans/PublicSans-Regular.woff2") format("woff2"),
    url("assets/fonts/public-sans/PublicSans-Regular.woff") format("woff"),
    url("assets/fonts/public-sans/PublicSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PublicSans";
  src: url("assets/fonts/public-sans/PublicSans-Medium.woff2") format("woff2"),
    url("assets/fonts/public-sans/PublicSans-Medium.woff") format("woff"),
    url("assets/fonts/public-sans/PublicSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PublicSans";
  src: url("assets/fonts/public-sans/PublicSans-SemiBold.woff2") format("woff2"),
    url("assets/fonts/public-sans/PublicSans-SemiBold.woff") format("woff"),
    url("assets/fonts/public-sans/PublicSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PublicSans";
  src: url("assets/fonts/public-sans/PublicSans-Bold.woff2") format("woff2"),
    url("assets/fonts/public-sans/PublicSans-Bold.woff") format("woff"),
    url("assets/fonts/public-sans/PublicSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
